@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-slate-700;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  width: 42px;
  height: 42px;
  background: #ffed00;
  font-size: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 100%;
  padding: 1rem;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

#transition-wrapper {
  transition-property: opacity height;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  height: 100vh;
  opacity: 1;
}
